.app__miguel {
    max-width: 1000px;
    flex-direction: column;

    padding: 6rem 1rem 6rem 4rem;
    margin: 0 auto;

    @media screen and (min-width: 2000px) {
        padding-top: 8rem;
    }

    @media screen and (max-width: 900px) {
        padding: 2rem 4rem;
    }

    @media screen and (max-width: 450px) {
        padding: 4rem 2rem;
    }
	
	h1 {
		color: var(--primary-color);
	}
	
	border-top: 2px solid var(--tertiary-color);
}

.app__miguel-section {

}

.app__miguel-title {

}

.app__miguel-excerpt {

}

 .section{
 
     width: 100%;
	 height: 400px;
	display:flex;
 }
 
 .article-header{
	background: url("https://upload.wikimedia.org/wikipedia/commons/0/04/Labrador_Retriever_%281210559%29.jpg");
	width: 40%;
	height: 100%;
	background-size: cover;
 }

.body-article{
	width: 60%;
	height: 100%;
	display: grid;
	grid-template-row: 50px 150px 50px;
	padding: 10px 15px;
	
	

}

